<div class="product" id="product">
    <img src="./img/lite.png" alt="" class="productImg">
    <div class="productDetails">
        <h1 class="productTitle">DISENO LITE</h1>
        <h2 class="productPrice">$199</h2>
        <p class="productDesc">Lorem ipsum dolor sit amet consectetur impal adipisicing elit. Alias assumenda
            dolorum
            doloremque sapiente aliquid aperiam.</p>
        <div class="colors">
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="sizes">
            <div class="size">42</div>
            <div class="size">43</div>
            <div class="size">44</div>
        </div>
        <button class="productButton">BUY NOW!</button>
    </div>
    <div class="payment">
        <h1 class="payTitle">Personal Information</h1>
        <label>Name and Surname</label>
        <input type="text" placeholder="John Doe" class="payInput">
        <label>Phone Number</label>
        <input type="text" placeholder="+1 234 5678" class="payInput">
        <label>Address</label>
        <input type="text" placeholder="Elton St 21 22-145" class="payInput">
        <h1 class="payTitle">Card Information</h1>
        <div class="cardIcons">
            <img src="./img/visa.png" width="40" alt="" class="cardIcon">
            <img src="./img/master.png" alt="" width="40" class="cardIcon">
        </div>
        <input type="password" class="payInput" placeholder="Card Number">
        <div class="cardInfo">
            <input type="text" placeholder="mm" class="payInput sm">
            <input type="text" placeholder="yyyy" class="payInput sm">
            <input type="text" placeholder="cvv" class="payInput sm">
        </div>
        <button class="payButton">Checkout!</button>
        <span class="close">X</span>
    </div>
</div>
<section id="product-1" class="section-p1">
<h2 class='prod'>Featured Products</h2>
<p class='prod'>Mobile Power Solutions</p>
<div class="pro-container">
    <div class="pro">
        <img src="img/hybrid.png" alt="">
        <div class="des">
            <span>invertors</span>
            <h5>hybrid solar invertors</h5>
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fa-duotone fa-cart-circle-check cart"></i></a>
    </div>
    <div class="pro">
        <img src="img/solar.png" alt="">
        <div class="des">
            <span>solar</span>
            <h5>solar panels</h5>
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fa-duotone fa-cart-circle-check cart"></i></a>
    </div>
    <div class="pro">
        <img src="img/inve.jpg" alt="">
        <div class="des">
            <span>invertors</span>
            <h5>traditional invertors</h5>
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fa-duotone fa-cart-circle-check cart"></i></a>
    </div>
    <div class="pro">
        <img src="img/contra.jpg" alt="">
        <div class="des">
            <span>controller</span>
            <h5>controller for lite usage</h5>
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fa-duotone fa-cart-circle-check cart"></i></a>
    </div>
    <div class="pro">
        <img src="img/controller.jpg" alt="">
        <div class="des">
            <span>controller</span>
            <h5>controller for heavy usage</h5>
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fa-duotone fa-cart-circle-check cart"></i></a>
    </div>
    <div class="pro">
        <img src="img/inv.jpg" alt="">
        <div class="des">
            <span>invertors</span>
            <h5>hybrid solar invertors</h5>
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="#"><i class="fa-duotone fa-cart-circle-check cart"></i></a>
    </div>
</div>



</section>

<section id="pagination" class="section-p1">
<a href="">1</a>
<a href="">1</a>
<a href=""><i class="fal fa-long-arrow-alt-right"></i></a>
<i class="fa-solid fa-360-degrees"></i>
</section>
