<script src="{{ ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ ASSETS_ROOT }}/js/customer.js"></script>
<script src="{{ ASSETS_ROOT }}/js/clear.js"></script>
<script src="{{ ASSETS_ROOT }}/js/app.js"></script>
<script src="{{ ASSETS_ROOT }}/js/product.js"></script>
<script src="{{ ASSETS_ROOT }}/js/cart.js"></script>
